{{> menu active="admin"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            User Interface: Analytics </p>
        <p class="box">
            {{> list-station-analytics }}

        </p>
    </div>
</section>