{{> menu active="dashboard"}}

<section class="section">
    <a href="/dashboard/sortplacemark" class="button">
        <i class="fas fa-angle-double-down"></i>
    </a>

    {{> list-placemarks }}
    {{> add-placemark }}
</section>

<section class="ui raised two column grid segment">
    <section class="column">
        {{> addmessage }}
    </section>
    <section class="column">
        {{> listmessages }}
    </section>
</section>