{{> menu active="user"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            Admin Interface: List of Users </p>
    </div>
    {{> list-users }}
</section>

