{{> menu active="user"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            Admin Interface: List of Users </p>
        <p class="box">
            {{> list-users }}
        </p>
    </div>
</section>