<form class="box">
    <h2>COMMUNITY</h2>
</form>
<form class="box" action="/dashboard/addmessage" method="POST">
    <label>Leave your Feedback</label>
    <div class="controls">
        <textarea id="message" name="message" cols="60" rows="5"></textarea>
    </div>
    <button class="button is-primary">Submit</button>
    <div class="ui star rating" data-rating="3"></div>
</form>